body{
    background: rgb(4,92,35);
    background: linear-gradient(90deg, rgba(4,92,35,0.6166841736694677) 1%, rgba(68,144,170,0.49343487394957986) 34%, rgba(104,176,121,0.4374124649859944) 60%, rgba(134,201,148,0.577468487394958) 82%);
}
.btn-success-wa{
    background-color: rgb(92, 197, 92);
    transition:all 0.2s ease;
}
.btn-success-wa:hover{
    transform: scale(1.1)!important;
    background-color: rgb(92, 197, 92);
}
.first-circle{
border-radius: 100%;
width: 200px;
height: 200px;
background-color: purple;
}
.second-circle{
    background-image: url(./img/find-tutor-left-decor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -190px;
    height: 400px;
    width: 200px;
    border-radius: 80px 0px 80px 80px;
}
.third-circle{
    border-radius: 0% 100% 100% 100%;
    width: 200px;
    height: 200px;
    background-color: orange;
    }
.fourth-circle{
    border-radius: 55% 0% 0% 0%;
    width: 200px;
    height: 200px;
    background-image: url(./img/find-tutor-right-decor.jpg);
    background-size: cover;
}
.fifth-circle{
    border-radius: 55% 0% 55% 0%;
    width: 200px;
    height: 200px;
    background-color: rgb(209, 131, 144);
}
.b-fields{
    border: 2px solid black !important;
    border-width: 0px 0px 2px 0px !important;
    border-radius: 0px !important;
}  
.b-fields:focus{
    box-shadow: none !important;
}
.main-ul li{
list-style: none !important;
color: grey;
font-size: 12px;
cursor: default;
}
.btn-anm{
    box-shadow: 10px 10px 20px rgba(101, 73, 146, 0.437);
    animation: shadow 5s ease infinite;
}
@keyframes shadow {
    100%{
    box-shadow: -15px -15px -30px rgba(129, 13, 13, 0.914);
}
}

    
.fs-pill{
    font-size: 15px;
}   
.ul-nav-1 li{
list-style: none;
} 
.text-purple{
    color: purple !important;
}
.fs-d{
    font-size: small;
}
.icon-c{
    padding-right: 10px;
    color: purple !important;
}
.p-des{
    padding-left: 5px;
    position: relative;
    left: 10px;
}
.w-btn{
    width: 150px;
}
.card{
    margin: 30px 0px !important;
    margin-right: 10px !important;
}
.bg-nav-1{
    background-color: rgb(29, 69, 97) !important;
}
.line{
    width: 1px;
    margin: 0px 10px;
    height: 24px;
    display: inline-block;
    background-color: aliceblue;
    position: relative;
    top: 5px;
}
.sticky-top-nav{
    animation: stick 0.5s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
 @keyframes stick {
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
 }
 .bg-purple{
background-color: rgb(153, 153, 202) !important;
border-radius: 100px;
height: 625px;
/* overflow-y: hidden; */
 }
 .bg-greyish{
    background-color: rgb(196, 196, 196) !important;
border-radius: 100px;
height: 696px;
 }
 .w-cards{
    width: 300px !important;
}
   
 .slider{
    overflow: hidden;
    display:flex;
    grid-template-columns: 30% 30% 30% 30% 30% 30% 30% 30%;   
 }


 .square-1{
    width: 50px;
    height: 50px;
    padding: 30px;
    background-color: black;
    transform: rotate(227deg);
    position: absolute;
    left: 170px;
    top:16px
 }
 .ovel-1{
    width: 200px;
    height: 200px;
    border-radius: 0px 50% 50% 50%;
    background-color: rgb(198, 198, 91);
}
.ovel-2{
    width: 300px;
    height: 200px;
    background-image: url(./img/hero-right-3.jpg);
    background-size: cover;
    border-radius:100px 100px 0% 100px;
}
.p-sec-sq{
    padding-top: 37px;
}
.p-kar:hover{
    cursor: pointer;
    text-decoration: underline;
}
.d-block{
    border: 2px solid rgb(230, 230, 230);
    border-width: 0px 2px 0px 0px;
}
 .divider{
    width: 15%;
    height: 2px;
    background-color: rgb(163, 165, 167);
 }   
 .footer-li{
    list-style:none;
    cursor: pointer;
 }

/*********************************dots animations **********************************************/
.dots{
width: 5px;
box-shadow: 2px 2px 3px black;
height: 5px;
z-index: 1000000;
border-radius: 20px;
animation: waves 25s ease !important;
}
@keyframes waves {
    100%{
        transform: translateY(300px);
    }
}
.p-dot-1{
    position: fixed;
    right: 20%;
    animation: wave 20s ease infinite !important;
    background-color: blue;
}
@keyframes wave {
    25%{
transform: translateX(10px);

}
50%{
    transform: translateX(-10px);
}
75%{
    transform: translateX(10px);
    }
}
.p-dot-2{
    position: fixed;
    right: 10%;
    background-color: pink;
    bottom: 10px;
    animation: wave2 20s ease infinite !important;
}
@keyframes wave2 { 
    25%{
transform: translateX(-20px);
}
50%{
    transform: translateX(20px);
}
75%{
    transform: translateX(-20px);
    }

}

.p-dot-3{
    position: fixed;
    right: 30%;
    background-color: red;
    bottom: 100px;
    animation: wave3 20s ease infinite !important;
}
@keyframes wave3 { 
    25%{
transform: translateX(30px);
}
50%{
    transform: translateX(-30px);
}
75%{
    transform: translateX(30px);
    }
}
.p-dot-4{
    position: fixed;
    right: 50%;
    background-color: green;
    bottom: 300px;
    animation: wave4 20s ease infinite !important;
}
@keyframes wave4 { 
    25%{
transform: translateX(-40px);
}
50%{
    transform: translateX(40px);
}
75%{
    transform: translateX(-40px);
    }
}
.p-dot-5{
    position: fixed;
    right: 70%;
    background-color: yellow;
    bottom: 500px;
    animation: wave5 20s ease infinite !important;
}
@keyframes wave5 { 
    25%{
transform: translateX(50px);
}
50%{
    transform: translateX(-50px);
}
75%{
    transform: translateX(50px);
    }
}
.p-dot-6{
    position: fixed;
    right: 90%;
    background-color: orange;
    bottom: 400px;
    animation: wave6 20s ease infinite !important;
}
@keyframes wave6 { 
    25%{
transform: translateX(-60px);
}
50%{
    transform: translateX(60px);
}
75%{
    transform: translateX(-60px);
    }
}
.p-dot-7{
    position: fixed;
    left: 5%;
    background-color: blueviolet;
    bottom: 200px;
    animation: wave7 20s ease infinite !important;
}
@keyframes wave7 { 
    25%{
transform: translateX(70px);
}
50%{
    transform: translateX(-70px);
}
75%{
    transform: translateX(70px);
    }
}
    /* query for individual sections */
    @media (max-width:570px) {
        .s-f{
            width: 100% !important;
        }
        .flx-md-sm{
            flex-direction: column;
        }
        .flx-md-sm p{
            width: 100%;
        }
        .d-sm{
            display: none !important;
        }
        .bg-purple{
            height: auto;
        }
        .bg-greyish{
            height: auto;
        }
        .col-li{
            width: 50%;
        }
    }
    @media (min-width:768px) and (max-width:992px) {
        .flx-md-sm{
            flex-direction: column;
        }
        .flx-md-sm p{
            width: 100%;
        }
        .d-sm{
            display: none !important;
        }
        .bg-purple{
            height: auto;
        }
        .bg-greyish{
            height: auto;
        }

    }